// #mapid {
//   height: 360px;
// }

// // Javascript element styling
// .alert {
//   background-color: #e57373;

//   .error-text {
//     color: #fff;
//     padding: 2rem;
//   }
// }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  .media {
    &__item {
      writing-mode: vertical-rl;
      text-orientation: mixed;
    }
  }
}
