@import './settings/colors.scss';
@import './layout/navbar/navbar.scss';
@import './layout/aside/aside';
@import './layout/main/main.scss';
@import './layout/footer/footer';

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $background-primary;
  background: linear-gradient(
    120deg,
    $background-secondary 0%,
    $background-primary 60%,
    $background-secondary 90%
  ) center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
