$background-secondary: #48a8d0;
$background-primary: #254173;

$card-background-primary: $background-primary;
$card-background-secondary: #2f6c9b;

$font-color: #52caef;

$button-background-color: #52caef;

$text-shadow: 1px 1px $background-primary;
