.main-content {
  .weather-card {
    position: relative;
    .curved-line {
      width: 100%;
      height: 100%;
      position: absolute;
      line {
         stroke: $background-primary;
         stroke-width: 1;
      }
   }

    text-shadow: $text-shadow;
    margin-bottom: 3rem;
    border-radius: 7px;
    color: $font-color;
    background-color: $background-primary;
    background: linear-gradient(
      120deg,
      $card-background-secondary 5%,
      $background-primary 60%,
      $card-background-secondary 95%
    );
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 2px 26px -5px rgba(0, 0, 0, 0.75);

    &__header {
      font-size: 3rem;
      margin: 0rem;
      font-weight: bold;
    }
    .weather-summary {
      margin: 0;
      .day {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
      }
      .date{
        font-size: 1.5rem;
      }
      .humidity {
        font-size: 2rem;
      }
      .weather-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
        &__image{
          height: 10rem;
          display: inline-block;
        }

        &__caption{
          font-size: 2rem;
          display: inline-block;
          text-transform: uppercase;
        }
      }
      .degree {
        font-size: 6rem;
        text-align: right;
      }
    }

    .weather-forecast {
      display: flex;
      &__item {
        margin-right: 2rem;
        text-align: center;
        .day {
          font-size: 2rem;
        }

        .icon {
          img {
            width: 5rem;
          }
        }

        .degree {
          font-size: 2rem;
        }
      }
    }
  }
}
