.navbar-main {
  margin-bottom: 6rem;
  background-color: transparent;
  color: $font-color;
  border: none;
  box-shadow: none;

  .nav-wrapper {
    padding: 0 2rem;
  }

  .brand-logo {
    position: relative;
    color: $font-color;
    text-shadow: $text-shadow;

    &::after {
      box-shadow: $text-shadow;
      position: absolute;
      content: '';
      background-color: $font-color;
      width: 70%;
      height: 3px;
      bottom: 10px;
      left: 5px;
    }
  }

  .material-icons {
    text-shadow: $text-shadow;
    color: $font-color;
    font-style: normal;
  }
}
